div.leftside {
    margin-right: 310px;
}

div.rightside {
    width: 300px;
    padding: 0px 0px 0px 0px;
    float: right;
}

div.twocol:after {
    content: "";
    display: table;
    clear: both;
}